{% if messages %}

    {% for message in messages %}

        <div
            class="alert
            {% if message.tags == 'error' %}
                alert-danger
            {% elif message.tags == 'success' %}
                alert-success
            {% elif message.tags == 'warning' %}
                alert-warning
            {% else %}
                alert-info
            {% endif %}
            alert-dismissible fade show"
            role="alert"
        >

            <i
                class="
                {% if message.tags == 'success' %}
                    bi bi-check-circle
                {% elif message.tags == 'error' %}
                    bi bi-exclamation-triangle
                {% elif message.tags == 'warning' %}
                    bi bi-exclamation-circle
                {% else %}
                    bi bi-info-circle
                {% endif %}
                me-2"
            ></i>


            {{ message }}


            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
            ></button>

        </div>

    {% endfor %}

{% endif %}