<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block corecss %} <link rel="stylesheet" href="{% static 'user/css/style.css' %}"> {% endblock corecss %}
    <script src="{% static 'user/js/scripts.js' %}"></script>
    
    <title>{% block title %} Nandi Rides Booking Portal {% endblock %}</title>
    
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
</head>
<body class="d-flex flex-column min-vh-100 overflow-auto">

    <header class="d-flex align-items-center px-4 py-2">
        <div>
            <img src="{% static 'user/images/logo.png' %}" alt="Nandi Ride Logo" style="width: 80px !important; height: 80px !important; object-fit: contain !important;">
        </div>
            <div class="flex-grow-1 text-center">
                <h1 class="mb-0 fs-3">
                    Welcome to Nandi Rides Booking Portal
                </h1>
                <p class="mb-0">
                    Book your Nandi Rides anytime, anywhere
                </p>
            </div>
            
        <div class="d-flex gap-2">
        <a href="/signup/" class="btn">👤 Sign Up</a>
        <a href="/logintypes/" class="btn">🔐 Sign In</a>
    </div>
        
    </header>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Book rides</a>
        <a href="#">Booking Status</a>
        <a href="#">Contact Us</a>
    </nav>

    <main class="flex-grow-1 container-fluid ">
        {% block content %}
        {% endblock %}
    </main>    
    <footer class="py-3">
        <p class="text-center">&copy; 2026 Nandi Rides Booking Service. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>