{% extends 'user/dashboard_base.html' %}

{% block dashboard_title %}
Dashboard
{% endblock %}

{% block page_heading %}
Dashboard
{% endblock %}

{% block dashboard_content %}
        <div class="row">
            {% for dashboard in dashboard_card %}
                <div class="col-md-4">
                    <div class="card border-0 ">
                        <div class="card-body alert alert-info">
                            <div class="d-flex text-dark">
                                <i class="{{ dashboard.icon }} me-2"></i>
                            <h6 class="">{{ dashboard.name }}</h6>
                            </div>
                            <h2 class="text-success">{{ dashboard.no }}</h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}