{% extends 'user/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light container">
    <div class="card border-0 shadow-lg overflow-hidden">
        <div class="row g-0">
            <!-- LEFT SIDE -->
            <div class=" sup col-md-5 d-flex align-items-center justify-content-center
                        text-white text-center position-relative">
                <div class="p-4">
                    <img src="{% static 'user/images/logo.png' %}" class="simg img-fluid mb-3" alt="Login">
                    <h3 class="fw-bold">Welcome to Nandi Ride </h3>
                    <p class="mb-5">Please select your login type </p>
                </div>
            </div>
            <!-- RIGHT SIDE -->
            <div class="col-md-7 bg-white mt-4">
                <div class="d-flex flex-column align-items-center gap-4">
                        {% for item in login_types %}
                        <div class="card text-center"
                            style="width: 300px;">
                            <div class="card-body">
                                <h2>
                                    {{ item.icon }}
                                    {{ item.title }}
                                </h2>
                                <p class="text-muted">
                                    {{ item.description }}
                                </p>
                                <a href="{% url item.url %}"
                                class="btn btn-danger w-100">
                                    {{ item.button_text }}
                                </a>
                                {% if item.signup %}
                                    <a href="{% url 'signup' %}"
                                    class="btn btn-danger w-100 mt-2">
                                        Create Account
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                            {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}